.gridWrap {
  display: grid;
  grid-template-columns: 36px 3fr;
  grid-row: auto;
  grid-template-areas: "left right";
}
.gridWrap > .left {
  grid-area: "left";
}
.gridWrap > .right {
  grid-area: "right";
}

.time {
  font-size: .9em;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5em; 
}

/* Custom size for the rating icon to fit Review component */

.ratingIcon {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
}