/* radio inputs for rating icon inside of label */
.rating {
  position: fixed;
  width: 1px;
  height: 1px;
  right: 0;
  bottom: 0;
}
.rating:checked + label {
  background-color: rgba(var(--secondary-black));
  color: var(--primary-green);
}

.ratingButtons {
  display: flex;
  justify-content: space-evenly;
}

textarea.reviewText{
  width: 100%;
  height: 10rem;
  padding: .5rem;
  resize: none;
}
.moods {
  list-style: none;
  padding: 0;
  margin: 0;
  column-count: 3;
}

.submitBtn {
  width: fit-content;
}