/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
a, a:focus, a:visited, a:hover {
  text-decoration: inherit;
  color: inherit;
}

/* UTILITY CSS */

body {
  color: black;
  height: 200vh;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (max-width: 760px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}
.btn-primary {
  color:#fff;
  background-color: #1877f2;
}

/* CUSTOM CSS */

/* 
  .react-icon is provided as className to global context provider 
  for react icons: IconContext.Provider in providers.js
 */
.react-icon {
  height: 100%;
  width: 1.5rem;
}
@media screen and (max-width: 760px) {
  .react-icon {
    width: 1rem;
  }
}