/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  padding: 0;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: 400;
}
#root, #__next {
  isolation: isolate;
}
a, a:focus, a:visited, a:hover {
  text-decoration: inherit;
  color: inherit;
}

/* CSS Variables */

html {
  --work-img-max-width: 200px;
}

/* UTILITY CSS */

:root {
  --primary-blue: #1877f2;
  --primary-green: #006241;
  --secondary-green: #1E3932;
  --accent-green: #00754a;
  
  /* rgba color used for box-shadow of menu button */
  --primary-black: 0, 0, 0; 
  --secondary-black: 219, 219, 219, .4;
  --charcoal-black: 0, 0, 0, .7;
  --brand-red: 255, 48, 64;

  /* transition delay timers */
  --transition-delay: .2s;

  --border-radius-2: .5rem;

  --main-margin-top: 1.6rem;
}

body {
  color: black;
  height: 100vh;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  padding-top: var(--main-margin-top);
}

@media screen and (max-width: 760px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: .5rem;
  border: 1px solid transparent;
  transition: background-color var(--transition-delay) ease;
}
.btn-primary {
  color:#fff;
  background-color: var(--primary-green);
}
.btn-primary:disabled {
  background-color: gray;
}

.btn-outline-dark {
  color: var(--primary-black);
  background-color: rgba(var(--secondary-black));
}

.link,
.link:visited {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  color: var(--accent-green);
}
.link:hover{
  color: var(--secondary-green);
}
.capitalize {
  text-transform: capitalize;
}

.h1 {
  font-size: 2rem;
}
.h2 {
  font-size: 1.75rem;
}
.h3 {
  font-size: 1.5rem;
}
.h4 {
  font-size: 1.25rem;
}
/* CUSTOM CSS */

/* 
  .react-icon is provided as className to global context provider 
  for react icons: IconContext.Provider in providers.js
 */
.react-icon {
  height: 100%;
  width: 1.5rem;
}

/* styling rating buttons */

.ratingBtn {
  padding: 1rem;
}
.ratingBtn .thumbButton {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 1rem;
  border-radius: 50%;
  color: rgba(var(--charcoal-black));
  transition: background-color .2s ease-in;

  display: grid;
  place-items: center;
}
.caption {
  text-align: center;
}

.thumbButton:hover,
.thumbButton:focus{
  background-color: rgba(var(--secondary-black));
}

.thumbIcon span {
  display: inline-block;
}
.thumbIcon {
  width: 28px;
  height: 28px;
}

/* Controlling size of thumb icons inside thumbIcon buttons on review form */

.ratingIcon {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.ratingIcon .react-icon {
  width: 100%;
  height: 100%;
  overflow: visible;
}

/* Center RatingIcon  */

.thumbIcon .ratingIcon {
  width: 100%;
  height: 100%;
}

/* Centering the wrapper component of double thumbs up */

.twoThumbsUp {
  position: relative;
  transform: translate3d(-20%, 0, 0);
}

/* Default styling for thumb icons inside twoThumbsUp */

.twoThumbsUp .react-icon {
  position: absolute;
  fill: white;
  stroke-width: 1px;
  stroke: rgba(var(--charcoal-black));
  stroke-linejoin: round;
}

/* Invert colors if twoThumbsUp active, used to get icons in Review component */

.twoThumbsUp.active .react-icon{
  stroke: white;
  fill: var(--primary-green);
}
#ratingIcon-0.active {
  color: rgba(var(--brand-red));
}
#ratingIcon-1.active {
  color: var(--primary-green);
}

/* select the first thumbIcon up amongst the two */

.twoThumbsUp .react-icon:last-child {
  transform: translate3d(40%, -20%, 0);
  z-index: -10;
}

/* Modify fill and stroke colors when rating input checked */

#rating_2:checked + label .react-icon {
  stroke: white;
  fill: var(--primary-green);
}
#rating_1:checked + label .react-icon {
  fill: var(--primary-green);
}
#rating_0:checked + label .react-icon {
  fill: rgba(var(--brand-red));
}

@media screen and (max-width: 760px) {
  .react-icon {
    width: 1rem;
  }
}