.header {
  border-bottom: 2px solid #dbdbdb;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.navItems {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navItem {
  display: flex;
  align-items: center;
}
.navLink {
  display: inline-block;
  padding: 0 1rem;
}