.imgWrap {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.imgWrap img {
  display: inline-block;
}
@media screen and (max-width: 760px) {
  .imgWrap {
    height: 100%;
  }
}